<ion-header hidden>
  
  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  
  <ion-grid style="width: 75%;">
    
    <div *ngIf="advogado == false">
      <ion-item text-center no-lines>
        <ion-icon name="person-add" class="logo" color="ligth"></ion-icon>
      </ion-item>
      
      <ion-item no-lines style="color:white">
        <ion-label>{{ usuario }}</ion-label>
        <ion-checkbox checked="true" (click)="hide()" ></ion-checkbox>
      </ion-item>
      <form novalidate [formGroup]='registerFormCliente'>
        <ion-row class="row-style">
          <ion-icon name="person" color="danger"></ion-icon>
          <ion-input formControlName="nomeCompleto" type="text" placeholder="Nome completo" [(ngModel)]="novoUsuario.nome"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="at" color="danger"></ion-icon>
          <ion-input formControlName="email" type="text" placeholder="Email" [(ngModel)]="novoUsuario.email"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="lock" color="danger"></ion-icon>
          <ion-input formControlName="senha" type="password" placeholder="Senha" [(ngModel)]="novoUsuario.senha"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="lock" color="danger"></ion-icon>
          <ion-input formControlName="repetirSenha" type="password" placeholder="Confirmar senha" [(ngModel)]="novoUsuario.confirmarSenha"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="phone-portrait" color="danger"></ion-icon>
          <ion-input formControlName="telefone" type="text" placeholder="Telefone" [(ngModel)]="novoUsuario.celular"></ion-input>
        </ion-row>
        
        <ion-row>
          <button [disabled]="registerFormCliente.invalid" ion-button block round outline color="light" style="margin-top: 20px;" (click)="criarUsuario()">
            Cadastrar
          </button>
        </ion-row>

        <ion-row>
            <button ion-button block round outline color="light" (click)="voltar()">
              Voltar
            </button>
          </ion-row>
      </form>
    </div>
    
    <div *ngIf="advogado == true">
      <ion-item text-center no-lines>
        <ion-icon name="briefcase" class="logo" color="ligth"></ion-icon>
      </ion-item>
      
      <ion-item no-lines style="color:white">
        <ion-label>{{ usuario }}</ion-label>
        <ion-checkbox checked="false" (click)="hide()" ></ion-checkbox>
      </ion-item>
      <form novalidate [formGroup]='registerFormAdvogado'>
        <ion-row class="row-style">
          <ion-icon name="paper" color="danger"></ion-icon>
          <ion-input formControlName="oab_adv" type="text" placeholder="Númeor de ordem" [(ngModel)]="novoAdvogado.oab"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="person" color="danger"></ion-icon>
          <ion-input formControlName="nomeCompleto_adv" type="text" placeholder="Nome completo" [(ngModel)]="novoAdvogado.nome"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="at" color="danger"></ion-icon>
          <ion-input formControlName="email_adv" type="text" placeholder="Email" [(ngModel)]="novoAdvogado.email"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="lock" color="danger"></ion-icon>
          <ion-input formControlName="senha_adv" type="password" placeholder="Senha" [(ngModel)]="novoAdvogado.senha"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="lock" color="danger"></ion-icon>
          <ion-input formControlName="repetirSenha_adv" type="password" placeholder="Confirmar senha" [(ngModel)]="novoAdvogado.confirmarSenha"></ion-input>
        </ion-row>
        
        <ion-row class="row-style">
          <ion-icon name="phone-portrait" color="danger"></ion-icon>
          <ion-input formControlName="telefone_adv" type="text" placeholder="Telefone" [(ngModel)]="novoAdvogado.celular"></ion-input>
        </ion-row>
        
        <ion-row>
          <button [disabled]="registerFormAdvogado.invalid" ion-button block round outline color="light" style="margin-top: 20px;" (click)="criarAdvogado()">
            Cadastrar
          </button>
        </ion-row>

        <ion-row>
            <button ion-button block round outline color="light" (click)="voltar()">
              Voltar
            </button>
          </ion-row>
      </form>
    </div>
  </ion-grid>
  
  
  
  
  
</ion-content>
