<ion-header>
  <ion-navbar>
    <ion-title>
      <small> Chat </small>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>  
</ion-header>

<ion-content padding>
  
  
  <!-- <div *ngIf="igualId == true"> -->
    <ion-card item-end *ngFor="let mensagem of mensagens">
      <ion-card-content>
        <ion-item>
          <ion-icon name="ios-chatbubbles-outline" item-end style="margin-right: 2px"></ion-icon>
          <h2 style="white-space: pre-line"> {{ mensagem.text }} </h2>
        </ion-item>
      </ion-card-content>
    </ion-card>
  <!-- </div> -->
  
  <!-- <div *ngIf="igualId == false">
    <ion-list>
      <ion-item item-end *ngFor="let mensagem of mensagens">
        <ion-icon  name="ios-chatbubbles-outline"></ion-icon>
        <h2> {{ mensagem.text }} </h2>
      </ion-item>
    </ion-list>
  </div> -->
  
  <ion-row margin class="row-style">
    <ion-input type="text" placeholder="Digite a sua mensagem..." [(ngModel)]="mensagemChat"></ion-input>
    <button ion-button icon-only color="danger" clear (click)="enviarMensagem(duvida)">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-row>
  
  
</ion-content>