page-editar-perfil {

    .row-style{
        background-color: white;
        padding-left: 10px;
        border-radius: 30px;
        margin-top: 10px;

        ion-icon{
            margin-top: 13px;
            margin-right: 10px;
        }
    }

}
